<%= form_for(@entry, :html => {:class => "form-horizontal"}) do |f| %>
  <div class="control-group">
		<div class="controls">
			<%= display_error(@entry).html_safe %>
		</div>
	</div>
	
  <div class="control-group">
	  <%= f.label :description, :class => "control-label" %>
		<div class="controls" , id="entrytext">
			<%= f.text_area :description, :id => "editor" , :placeholder => "Yesterday:<br/><ul><li></li></ul> <ul><li></li></ul><br/> Today:<br/> <ul><li></li></ul> <ul><li></li></ul> <br/>Roadblocks: (please write none if there is nothing) <ul><li></li></ul> <ul><li></li></ul>" %>
		</div>
	</div>

  <div class="form-actions">
		<%= f.submit :class => "btn btn-primary" %>
		<%= back_button %>
	</div>
<% end %>
  
