<% content_for :title, @title %>

<div class="page-header">
	<div class="row-fluid">
		<div class="span10"><h1><%= @title %></h1></div>
  	<div class="span2" id="entry_align">
			<%= link_to('<i class="icon-file icon-white"></i> New Entry'.html_safe, new_entry_path, :method => :get, :class => 'btn btn-primary') %>
		</div>
	</div> 
</div>

<% if @entries.present? %>
	<table class="table table-striped">
	  <tr>
	    <th>Date</th>
	    <th>Category</th>
	    <th>User</th>
	    <th>Ticket</th>
	    <th></th>
	    <th></th>
	  </tr>
			<% @entries.each do |entry| %>
			  <tr>
			    <td><%= link_to (entry.created_at.to_date), entry_path(entry) %></td>
			    <td><%= entry.category %></td>
			    <td><%= entry.user.email %></td>
			    <td><%= entry.ticket_id %></td>
					<% if entry.user_id == current_user.id %>
					<td><%= link_to('<i class="icon-pencil icon-white"></i> Modify'.html_safe, edit_entry_path(entry), :method => :get, :class => 'btn btn-primary align_right') %></td>
						<td><%= link_to('<i class="icon-trash icon-white"></i> Destroy'.html_safe, entry, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger align_right') %>
						</td>
					<% end %>
			  </tr>
			<% end %>
	</table>

	<div class="pagination">
		<%= will_paginate @entries %>
	</div>
<% else %>
	<%= display_no_records("entries") %>
<% end %> 