<div class="page-header">
	<h1><%= @title.titleize %></h1>
</div>

<dl class="dl-horizontal">
	<p>
		<dt><b>User identification</b></dt>
		<dd><%= @entry.user.email %></dd>
	</p>
	
	<% if @entry.description.scan(/\d\d\d\d/).count > 0%>
	<p>
		<dt><b>Redmine ticket url</b></dt>
		<% times = 0..(@entry.description.scan(/\d\d\d\d/).count-1) %>
			<% for i in times do %>
				<dd><%= link_to(@entry.extract_ticket_number_from_description[i], @entry.extract_ticket_number_from_description[i]) %></dd>
			<% end %>
	</p>
	<% end %>

	<p>
		<dt><b>Category</b></dt>
		<dd><%= link_to @entry.category, search_path(:search => @entry.category), :method => :post %></dd>
	</p>
	
	<p>
		<dt><b>Description</b></dt>
		<dd><%= @entry.description.html_safe %></dd>
	</p>
</dl>

<%= back_button %>
<% if @entry.user_id == current_user.id %>
	<%= link_to('Edit entry', edit_entry_path, :class => 'btn btn-primary ') %>
<% end %> 