<div class="page-header">
	<h1><%= @title.titleize %></h1>
</div>

<dl class="dl-horizontal">
	<p>
		<dt><b>User identification</b></dt>
		<dd><%= @entry.user.email %></dd>
	</p>
<<<<<<< HEAD

	<p>
		<dt><b>Redmine ticket url</b></dt>
		<dd><%= link_to(@entry.extract_ticket_number_from_description, format_ticket_id_to_url(@entry.extract_ticket_number_from_description)) %></dd>
	</p>
=======
	
	<% if @entry.description.scan(/\d\d\d\d/).count > 0%>
	<p>
		<dt><b>Redmine ticket url</b></dt>
		<% times = 0..(@entry.description.scan(/\d\d\d\d/).count-1) %>
			<% for i in times do %>
				<dd><%= link_to(@entry.extract_ticket_number_from_description[i], format_ticket_id_to_url(@entry.extract_ticket_number_from_description[i])) %></dd>
			<% end %>
	</p>
	<% end %>
>>>>>>> origin/master

	<% if @entry.extract_category_from_description.present? %>
	<p>
		<dt><b>Category</b></dt>
		<dd><%= link_to @entry.extract_category_from_description, search_path(:search => @entry.extract_category_from_description), :method => :post %></dd>
	</p>
	<% end %>
	
	<p>
		<dt><b>Description</b></dt>
		<dd><%= markdown @entry.description %></dd>
	</p>

	<p>
		<dt><b>Last Updated</b></dt>
		<dd><%= @entry.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></dd>
	</p>
</dl>

<%= back_button %>
<% if @entry.user_id == current_user.id %>
	<%= link_to('Edit entry', edit_entry_path, :class => 'btn btn-primary ') %>
<% end %> 