<p>
  <b>Description:</b>
  <%= @entry.description %>
</p>

<p>
  <b>Category:</b>
  <%= @entry.category %>
</p>

<p>
  <b>User:</b>
  <%= @entry.user_id %>
</p>

<p>
  <b>Ticket:</b>
  <%= link_to(@entry.ticket_id, format_ticket_id_to_url(@entry.ticket_id)) %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>