<%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= display_error(@user).html_safe %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :fullname, :class => "control-label"%>
    <div class="controls">
    <%= f.text_field :fullname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :new_password, :class => "control-label" %>
    <div class="controls">
    <%= f.password_field :password, :value => ""%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <div class="controls">
    <%= f.password_field :password_confirmation, :value => ""  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :week_starts_on, :class => "control-label" %>
    <div class="controls">
    <%= f.select(:week_pattern, User::DAYS_OF_WEEK, {:prompt => 'Select a day'}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :timezone, :class => "control-label" %>
    <div class="controls">
    <%= f.select :timezone, ActiveSupport::TimeZone.zones_map.map {|key, value| [value, key]}.sort, :model => ActiveSupport::TimeZone, :prompt => 'Select your time zone' %>
    </div>
  </div>

   <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
 