<% content_for :title, "Listing users" %>
<div class="page-header">
	<h1>All StandApp users</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Fullname</th>
    <th>Email</th>
    <th>Total Entries</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= link_to user.fullname, user %></td>
	    <td><%= user.email %></td>
	    <td><%= pluralize(user.count_of_entries, "entry") %> out of <%= pluralize(working_days(user), "expected entry")%> </td>
	    <td><%= link_to('Absences', absence_path(user)) %></td>
	    <td><%= link_to('<i class="icon-file icon-white"></i> Add an absence'.html_safe, new_absence_path, :class => 'btn') %></td>
	    <td><%= link_to('<i class="icon-pencil icon-white"></i> Modify'.html_safe, edit_user_path(user), :class => 'btn btn-primary') %></td>
	  </tr>
	<% end %>
</table>

<div class="pagination">
	<%= will_paginate @users %>
</div>