<div class="page-header">
	<div class="row-fluid">
		<div class="span10"><h3><%= @title.titleize %><% if @keywords.present? %> for <%= @keywords %> <% end %></h3></div>
  	<div class="span2" id="entry_align">
			<% if @results.present? %>
				found <%= pluralize(@results.size, "result") %>

			<% end %>
		</div>
	</div>
</div>

<% if @results.present? %>
	<% @results.each do |key, values| %>
		
			<% if key == :entry %>
				<%= render :partial => 'entries', :locals => {:entries => values} %>
			<% elsif key == :user %>
				<%= render :partial => 'users', :locals => {:users => values} %>
			<% elsif key == :absence %>
				<%= render :partial => 'absences', :locals => {:absences => values} %>
			<% end %>
	<% end %>
<% else %>
	<%= display_no_records(@keywords) %>
<% end %>

<%= back_button %>

<br/>
<br/>