<% if @absences.present? %>
	<table class="table table-striped">
	  <tr>
	    <th>User</th>
	    <th>Description</th>
	    <th></th>
	  </tr>

		<% @absences.each do |absence| %>
		  <tr>
		    <td><%= absence.user.fullname %></td>
		    <td><%= link_to truncate(absence.description).html_safe, absence_path(absence) %></td>
		    <td><%= link_to('<i class="icon-pencil icon-white"></i> Modify'.html_safe, edit_absence_path(absence), :method => :get, :class => 'btn btn-primary align_right') %></td>
		  </tr>
		<% end %>
	</table>
	
	<div class="pagination">
		<%= will_paginate @absences %>
	</div>
<% else %>
	<%= display_no_records("absences") %>
<% end %>
