<%= form_for(@absence, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% @absence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
    <%= f.text_area :description, :id => "editor" %>
  </div>
</div>

  <div class="control-group">
    <%= f.label :user_id, :class => "control-label"%>
    <div class="controls">
    <%= f.select(:user_id, all_users.map{|user| [user.email, user.id]}, :selected => current_user.id ) %>
  </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit "Create", :class => "btn btn-primary" %>
	<%= back_button %>
  </div>
<% end %>
